.alert-color(@color) {
	transition: 0.2s;
	color: lighten(@color, 20%);
	border: 1px solid lighten(@color, 20%);
	background-color: @base-background-color;
	box-shadow: none;
}

.alert{.alert-color(@background-color-selected);}
.alert-info{.alert-color(@background-color-info);}
.alert-warning{.alert-color(@background-color-info);}
.alert-success{.alert-color(@background-color-success);}
.alert-danger{.alert-color(@background-color-error);}
.settings-view .alert-info{.alert-color(@background-color-highlight); background-color: transparent; }
.settings-view .alert-danger{.alert-color(@background-color-error); background-color: transparent; }
